router bgp {{host['asn']}}
{% for peer in host.peers %}
    neighbor {{ peer }} remote-as 100 
    neighbor {{ peer }} update-source  loop0
{% endfor %}


{% if host.role=="customer" -%}
    router bgp {{host['asn']}}
    {% for epeers in host.peers  %} 
        neighbor {{epeers}}  remote-as {{ host['remote-asn'] }} 
        neighbor {{epeers}} ebgp-multihop
    {%endfor %}
{% endif -%} 

{% if host.role == "client" -%}
    router bgp {{host['asn']}} 
    {% for epeers in host.epeers  %}
        neighbor {{epeers}} remote-as {{host['remote-asn']}}
        neighbor {{epeers}} ebgp-multihop
        neighbor {{epeers}} update-source loop0
    {% endfor %} 
{% endif -%}


{% if host.role =="RR" -%}
    neighbor {{ host.peers[0] }} route-reflector-client
    neighbor {{ host.peers[1] }} route-reflector-client

{% endif -%}



